src/wsdl/roles.wsdl

<?xml version="1.0" encoding="UTF-8"?>
    <definitions name="RoleService"
             targetNamespace="http://www.example.org/roles/"
             xmlns:tns="http://www.example.org/roles/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://www.example.org/roles/"
                targetNamespace="http://www.example.org/roles/">

     <!-- Define Modelo de Estados -->
        <xsd:complexType name="Roles">
            <xsd:sequence>
                <xsd:element name="id" type="xsd:int"/>
                <xsd:element name="rol" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>

           <!-- Define Array de Estados -->
        <xsd:complexType name="RolesArray">
            <xsd:sequence>
                <xsd:element name="role" type="tns:Roles" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

 </xsd:schema>

    <!-- Mensajes para obtener todos los roles -->
    <message name="GetAllRolesRequest"/>
    <message name="GetAllRolesResponse">
        <part name="roles" type="tns:RolesArray"/>
    </message>

    <!-- Mensajes para la creación de un rol -->
    <message name="CreateRoleRequest">
        <part name="rol" type="xsd:string"/>
    </message>
    <message name="CreateRoleResponse">
        <part name="success" type="xsd:string"/>
        <part name="role" type="xsd:string"/>
    </message>


    <portType name="RolesPortType">
     <operation name="getRoles">
            <input message="tns:GetAllRolesRequest"/>
            <output message="tns:GetAllRolesResponse"/>
        </operation>
        <operation name="createRole">
            <input message="tns:CreateRoleRequest"/>
            <output message="tns:CreateRoleResponse"/>
        </operation>
    </portType>


    <binding name="RolesBinding" type="tns:RolesPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
         <operation name="getRoles">
            <soap:operation soapAction="urn:getRoles"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createRole">
            <soap:operation soapAction="urn:createRole"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="RoleService">
        <port name="RolesPort" binding="tns:RolesBinding">
            <soap:address location="http://localhost:3002/roles"/>
        </port>
    </service>

</definitions>