src/wsdl/users.wsdl

<?xml version="1.0" encoding="UTF-8"?>
    <definitions name="UserService"
             targetNamespace="http://www.example.org/users/"
             xmlns:tns="http://www.example.org/users/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://www.example.org/users/"
                targetNamespace="http://www.example.org/users/">


    <!-- Define Modelo de Usuario -->
        <xsd:complexType name="User">
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string"/>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="lastname" type="xsd:string"/>
                <xsd:element name="address" type="xsd:string"/>
                <xsd:element name="phone" type="xsd:string"/>
                <xsd:element name="email" type="xsd:string"/>
                <xsd:element name="username" type="xsd:string"/>
                <xsd:element name="password" type="xsd:string"/>
                <xsd:element name="role_id" type="xsd:int"/>
                <xsd:element name="status_id" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>

        <!-- Define Array de Usuarios -->
        <xsd:complexType name="UsersArray">
            <xsd:sequence>
                <xsd:element name="user" type="tns:User" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

 </xsd:schema>

    <!-- Mensajes para obtener todos los usuarios -->
    <message name="GetAllUsersRequest"/>
    <message name="GetAllUsersResponse">
        <part name="users" type="tns:UsersArray"/>
    </message>

    <!-- Mensajes para obtener detalles de usuario -->
    <message name="GetUserDetailRequest">
        <part name="id" type="xsd:string"/>
    </message>
    <message name="GetUserDetailResponse">
        <part name="userDetails" type="tns:UsersArray"/>
    </message>

    <!-- Mensajes para la creación de usuario -->
    <message name="CreateUserRequest">
        <part name="name" type="xsd:string"/>
        <part name="lastname" type="xsd:string"/>
        <part name="address" type="xsd:string"/>
        <part name="phone" type="xsd:string"/>
        <part name="username" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="role_id" type="xsd:int"/>
        <part name="status_id" type="xsd:int"/>
    </message>
    <message name="CreateUserResponse">
        <part name="success" type="xsd:string"/>
        <part name="userId" type="xsd:string"/>
        <part name="name" type="xsd:string"/>
        <part name="rol" type="xsd:string"/>
        <part name="status" type="xsd:string"/>
    </message>

    <!-- Mensajes para la actualización de usuario -->
    <message name="UpdateUserRequest">
        <part name="id" type="xsd:string"/>
        <part name="name" type="xsd:string"/>
        <part name="lastname" type="xsd:string"/>
        <part name="address" type="xsd:string"/>
        <part name="phone" type="xsd:string"/>
        <part name="username" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="role_id" type="xsd:int"/>
        <part name="status_id" type="xsd:int"/>
    </message>
    <message name="UpdateUserResponse">
        <part name="success" type="xsd:string"/>
        <part name="user" type="tns:UsersArray"/>
    </message>

    <!-- Mensajes para la eliminación de usuario -->
    <message name="DeleteUserRequest">
        <part name="id" type="xsd:string"/>
    </message>
    <message name="DeleteUserResponse">
        <part name="success" type="xsd:string"/>
    </message>


    <portType name="UsersPortType">
     <operation name="getAllUsers">
            <input message="tns:GetAllUsersRequest"/>
            <output message="tns:GetAllUsersResponse"/>
        </operation>
        <operation name="getUserDetail">
            <input message="tns:GetUserDetailRequest"/>
            <output message="tns:GetUserDetailResponse"/>
        </operation>
        <operation name="createUser">
            <input message="tns:CreateUserRequest"/>
            <output message="tns:CreateUserResponse"/>
        </operation>
        <operation name="updateUser">
            <input message="tns:UpdateUserRequest"/>
            <output message="tns:UpdateUserResponse"/>
        </operation>
        <operation name="deleteUser">
            <input message="tns:DeleteUserRequest"/>
            <output message="tns:DeleteUserResponse"/>
        </operation>
    </portType>

    <binding name="UsersBinding" type="tns:UsersPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
         <operation name="getAllUsers">
            <soap:operation soapAction="urn:getAllUsers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserDetail">
            <soap:operation soapAction="urn:getUserDetail"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createUser">
            <soap:operation soapAction="urn:createUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateUser">
            <soap:operation soapAction="urn:updateUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteUser">
            <soap:operation soapAction="urn:deleteUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <service name="UserService">
        <port name="UsersPort" binding="tns:UsersBinding">
            <soap:address location="http://localhost:3002/users"/>
        </port>
    </service>

</definitions>